{% extends "base.html" %}
{% block content %}
{% if submitted %}
    <p class="success">
        Your message was submitted successfully. The data that you have been submitted is. 
    </p>
<ul>
    <li>Name: {{name}}</li>
    <li>Email: {{email}}</li>
    <li>Subject: {{subject}}</li>
    <li>Message: {{message}}</li>
</ul>
<a href="showdata">Show Other Messages</a>
{% else %}
<form action="" method="post" novalidate>
<table>
{{ form.as_table }}
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Submit"></td>
    </tr>
</table>
{% csrf_token %}
 </form>
 <a href="showdata">Show Other Messages</a>
{% endif %}
{% endblock content %}