{% extends "base.html" %}
{% block content %}
<h1>ยินดีต้อนรับ</h1>
<p> หน้าหลักค่าย Pre-Elec 9</p>
{% if staff%}
<a href="viewaccount/">ตรวจสอบบัญชีค่าย</a>
<a href="viewdata64/">ตรวจสอบข้อมูลน้อง</a>
{% else%}
    {% if completed_reg %}
    ท่านได้ยืนยันการสมัครเข้าค่ายแล้ว
    <a href="register/2">แก้ไขข้อมูล</a> <a href="viewdata">ดูข้อมูล</a> <br>
    <a href="unregister">ยกเลิกการสมัคร</a><br>
    {% else %}
    ยังไม่พบประวัติการยืนยันเข้าค่าย
    <a href="register/">สมัครเข้าค่าย</a>
    {% endif%}
{% endif%}
{% endblock %}